<h1 class="text-3xl font-bold">Public chat</h1>
<hr/>

<div>
  <template id="message-template">
    <li class="flex flex-col mt-5" data-sent-by-self="items-start" data-sent-by-other="items-end">
      <p></p>
      <span class="italic"></span>
    </li>
  </template>
  <ul id="message-list" class="flex flex-col">
    <% @messages.each do |message| %>
      <li class="flex flex-col mt-5 <%= message.sent_by == @username ? "items-start" : "items-end" %>">
        <p><%= message.text %></p>
        <span class="italic"><%= message.sent_by %></span>
      </li>
    <% end %>
  </ul>
</div>
<hr/>

<div data-controller="message">
  <label>
    <h2>Message</h2>
    <h3 data-message-target="room"></h3>
    <h4 data-message-target="user"><%= @username %></h4>
    <select data-action="change->message#drowdownChange">
      <option value="0">Room 0</option>
      <option value="1">Room 1</option>
      <option value="2">Room 2</option>
      <option value="3">Room 3</option>
      <option value="4">Room 4</option>
      <option value="5">Room 5</option>
    </select>
    <br/>
    <textarea class="mt-1" data-message-target="content" rows="3"></textarea>
  </label><br/>
  <button class="rounded-lg border-black border-solid border p-1" data-action="click->message#send">Send</button>
</div>