<div class="flex flex-col h-screen">
  <h1 class="text-3xl font-bold container max-w-screen-lg py-2">Public chat</h1>
  <div class="flex-grow overflow-scroll">
    <ul id="message-list" class="flex flex-col mb-4 container max-w-screen-lg">
      <%= render partial: "home/messages", locals: { messages: @messages, style: message_style } %>
    </ul>
  </div>

  <form action="submit" data-controller="message" class="pb-4 space-y-4 py-2 flex-shrink-0 container max-w-screen-lg">
    <div class="font-bold flex justify-between py-2 items-center">
      <h3 data-message-target="room"></h3>
      <h4 data-message-target="user"><%= @username %></h4>
    </div>
    <div>
      <label for="room">
      </label>
      <select id="room" class="rounded-lg bg-gray-50" data-action="change->message#drowdownChange">
        <option value="0">Room 0</option>
        <option value="1">Room 1</option>
        <option value="2">Room 2</option>
        <option value="3">Room 3</option>
        <option value="4">Room 4</option>
        <option value="5">Room 5</option>
      </select>
    </div>
    <div>
      <label for="message">
        <input id="message" placeholder="Type your message..." class="bg-gray-50 rounded-lg mt-1 px-4 py-10 w-full" data-action="keydown->message#write" data-message-target="content"/>
      </label>
    </div>
    <div class="flex item-center justify-center">
      <button type="submit" data-message-target="send" class="text-white bg-sky-500 disabled:bg-sky-500 hover:bg-sky-800 disabled:opacity-50 disabled:cursor-not-allowed rounded-lg border border-sky-500 px-6 py-3 " disabled data-action="click->message#send">Send</button>
    </div>
  </form>
</div>